In [1]:
import pandas_datareader as pdr
pdr.__version__

'0.10.0'

In [2]:
pdr.get_data_fred('GS10').tail()

            GS10
DATE
2021-10-01  1.58
2021-11-01  1.56
2021-12-01  1.47
2022-01-01  1.76
2022-02-01  1.93

In [3]:
pdr.nasdaq_trader.get_nasdaq_symbols(retry_count=3, timeout=30, pause=None).query('ETF == @False and `Test Issue` == @False' )

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.0,False,NaN,AAC.U,AAC=,False
AAC.W,True,Ares Acquisition Corporation Redeemable Warran...,N,,False,100.0,False,NaN,AAC.WS,AAC+,False
...,...,...,...,...,...,...,...,...,...,...,...
ZWS,True,Zurn Water Solutions Corporation Common Stock,N,,False,100.0,False,NaN,ZWS,ZWS,False
ZY,True,Zymergen Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,ZY,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.0,False,N,NaN,ZYXI,False

In [4]:
import pandas_datareader.data as web
from datetime import datetime
start = '2014'              # accepts strings
end = datetime(2017, 5, 24) # or datetime objects
yahoo= web.DataReader('FB', 'yahoo', start=start, end=end)
yahoo.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 855 entries, 2014-01-02 to 2017-05-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       855 non-null    float64
 1   Low        855 non-null    float64
 2   Open       855 non-null    float64
 3   Close      855 non-null    float64
 4   Volume     855 non-null    int64
 5   Adj Close  855 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 46.8 KB

In [22]:
from datetime import datetime

start = datetime(year=2014, month=1, day=1)

yahoo = pdr.yahoo.daily.YahooDailyReader(symbols=['AAPL', 'GOOG'], start=start, adjust_price=True, interval='d', get_actions=False, adjust_dividends=True)
yahoo_df = yahoo.read()
yaoo.close()

In [23]:
yahoo_df.head()

Attributes Adj_Ratio           Close                   High              \
Symbols         AAPL GOOG       AAPL        GOOG       AAPL        GOOG
Date
2014-01-02  0.886708  1.0  17.516605  554.481689  17.640111  556.788025
2014-01-03  0.886708  1.0  17.131840  550.436829  17.534658  556.379578
2014-01-06  0.886709  1.0  17.225264  556.573853  17.316150  557.340942
2014-01-07  0.886708  1.0  17.102072  567.303589  17.289546  567.717041
2014-01-08  0.886708  1.0  17.210375  568.484192  17.276877  571.517822

Attributes        Low                   Open                   Volume  \
Symbols          AAPL        GOOG       AAPL        GOOG         AAPL
Date
2014-01-02  17.481454  552.060730  17.597360  555.647278  234684800.0
2014-01-03  17.114421  550.401978  17.508058  555.418152  392467600.0
2014-01-06  16.898131  551.154114  17.020054  554.426880  412610800.0
2014-01-07  17.034935  558.486633  17.237611  560.399475  317209200.0
2014-01-08  17.059318  564.528992  17.063117  570.860291  258529600.0

Attributes
Symbols          GOOG
Date
2014-01-02  3656454.0
2014-01-03  3345894.0
2014-01-06  3551864.0
2014-01-07  5124336.0
2014-01-08  4501811.0

In [24]:
yahoo_df.tail()

Attributes Adj_Ratio            Close                     High               \
Symbols         AAPL GOOG        AAPL         GOOG        AAPL         GOOG
Date
2022-01-10       1.0  1.0  172.190002  2771.479980  172.500000  2772.800049
2022-01-11       1.0  1.0  175.080002  2800.350098  175.179993  2806.590088
2022-01-12       1.0  1.0  175.529999  2832.959961  177.179993  2856.284912
2022-01-13       1.0  1.0  172.190002  2782.620117  176.619995  2863.709961
2022-01-14       1.0  1.0  173.070007  2795.729980  173.779999  2824.010010

Attributes         Low                     Open                    Volume  \
Symbols           AAPL         GOOG        AAPL         GOOG         AAPL
Date
2022-01-10  168.169998  2662.810059  169.080002  2701.979980  106765600.0
2022-01-11  170.820007  2736.270020  172.320007  2763.610107   76138300.0
2022-01-12  174.820007  2822.239990  176.119995  2831.090088   74805200.0
2022-01-13  171.789993  2778.280029  175.779999  2836.810059   84505800.0
2022-01-14  171.089996  2750.000000  171.339996  2750.000000   80355000.0

Attributes
Symbols          GOOG
Date
2022-01-10  1704800.0
2022-01-11  1175100.0
2022-01-12  1182100.0
2022-01-13  1328300.0
2022-01-14  1190700.0

In [19]:
yahoo_df['Close']

Symbols           AAPL         GOOG
Date
2017-01-17   28.238459   804.609985
2017-01-18   28.236099   806.070007
2017-01-19   28.186684   802.174988
2017-01-20   28.238459   805.020020
2017-01-23   28.257278   819.309998
...                ...          ...
2022-01-10  172.190002  2771.479980
2022-01-11  175.080002  2800.350098
2022-01-12  175.529999  2832.959961
2022-01-13  172.190002  2782.620117
2022-01-14  173.070007  2795.729980

[1260 rows x 2 columns]

In [30]:
import sys
# insert at position 1 in the path, as 0 is the path of this file.
sys.path.insert(1, '/Users/HP-Z440/Anaconda Projects/svi-trading-tools/tools')

import importlib
import ameritrade_functions as amc

username, password, client_id = amc.configure_ameritrade('maiotradeuser', 'maiotradepw', 'maiotradeclientid')
ameritrade = amc.AmeritradeRest(username, password, client_id).get_price_histories(['AAPL', 'GOOG'], datetime.today().strftime('%Y-%m-%d'), num_periods=5)
ameritrade.tail()

Tickers:   0%|          | 0/2 [00:00<?, ?Price Histories/s]

         open     high      low    close    volume ticker       date
1257   176.12   177.18   174.82   175.53  74805173   AAPL 2022-01-12
2518  2836.81  2863.71  2778.28  2782.62   1328254   GOOG 2022-01-13
1258   175.78   176.62   171.79   172.19  84505760   AAPL 2022-01-13
1259   171.34   173.78   171.09   173.07  80440780   AAPL 2022-01-14
2519  2750.00  2824.01  2750.00  2795.73   1191296   GOOG 2022-01-14

In [20]:
yahoo_df['Open']

Symbols           AAPL         GOOG
Date
2017-01-17   27.847826   807.080017
2017-01-18   28.238453   805.809998
2017-01-19   28.097263   805.119995
2017-01-20   28.344352   806.909973
2017-01-23   28.238452   807.250000
...                ...          ...
2022-01-10  169.080002  2701.979980
2022-01-11  172.320007  2763.610107
2022-01-12  176.119995  2831.090088
2022-01-13  175.779999  2836.810059
2022-01-14  171.339996  2750.000000

[1260 rows x 2 columns]

In [14]:
symbol = 'AAPL.US'
aapl_stock = pdr.DataReader(symbol, 'quandl', start='2018', end='2019', api_key='K1oc8wNmjXMrEL8sKxQ6')
aapl_stock = aapl_stock.resample('D').last() # ensure dates align with
aapl_stock.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-01-02,170.16,172.30,169.26,172.26,25048048.0,0.0,1.0,170.16,172.30,169.26,172.26,25048048.0
2018-01-03,172.53,174.55,171.96,172.23,28819653.0,0.0,1.0,172.53,174.55,171.96,172.23,28819653.0
2018-01-04,172.54,173.47,172.08,173.03,22211345.0,0.0,1.0,172.54,173.47,172.08,173.03,22211345.0
2018-01-05,173.44,175.37,173.05,175.00,23016177.0,0.0,1.0,173.44,175.37,173.05,175.00,23016177.0
2018-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
factor_data = pdr.DataReader('F-F_Research_Data_5_Factors_2x3', 'famafrench', start='2000')[0].drop('RF', axis=1)

In [6]:
factor_data = pdr.DataReader('F-F_Research_Data_5_Factors_2x3', 'famafrench', start='2000')

In [9]:
factor_data

{0:          Mkt-RF    SMB    HML    RMW   CMA    RF
 Date
 2000-01   -4.74   4.45  -1.89  -6.29  4.74  0.41
 2000-02    2.45  18.38  -9.81 -18.76 -0.35  0.43
 2000-03    5.20 -15.39   8.23  11.82 -1.61  0.47
 2000-04   -6.40  -4.96   7.25   7.67  5.62  0.46
 2000-05   -4.42  -3.87   4.83   4.18  1.32  0.50
 ...         ...    ...    ...    ...   ...   ...
 2021-09   -4.37   1.25   5.09  -1.94  2.08  0.00
 2021-10    6.65  -2.69  -0.44   1.74 -1.48  0.00
 2021-11   -1.55  -1.74  -0.53   7.38  1.60  0.00
 2021-12    3.10  -0.68   3.23   4.75  4.37  0.01
 2022-01   -6.23  -3.91  12.78   0.74  7.78  0.00

 [265 rows x 6 columns],
 1:       Mkt-RF    SMB    HML    RMW    CMA    RF
 Date
 2000  -17.60   3.77  45.02  24.69  30.77  5.89
 2001  -15.20  23.15  18.50  17.70  13.56  3.83
 2002  -22.76   5.93   8.09  20.82  14.20  1.65
 2003   30.75  24.52   5.11 -20.67  16.56  1.02
 2004   10.72   7.46   7.67   8.46  -7.51  1.20
 2005    3.09  -0.77   9.43   1.29  -4.92  2.98
 2006   10.60   1.60  11.75   3.81   8.82  4.80
 2007    1.04  -8.34 -17.28   4.70  -7.57  4.66
 2008  -38.34   2.81   0.83  14.75   4.18  1.60
 2009   28.26   7.93  -9.42   3.40  -2.67  0.10
 2010   17.37  13.72  -5.10  -1.52   9.44  0.12
 2011    0.44  -5.56  -8.54  13.49  -0.97  0.04
 2012   16.27  -0.44   9.85  -5.23   9.22  0.06
 2013   35.20   8.27   2.65  -4.18   0.99  0.02
 2014   11.71  -7.90  -1.46   1.38  -1.45  0.02
 2015    0.07  -5.81  -9.53   1.15  -8.71  0.02
 2016   13.30   9.19  22.64   4.49   9.90  0.20
 2017   21.51  -6.09 -13.48   4.72 -11.57  0.80
 2018   -6.93  -5.23  -9.80  -1.28   0.01  1.81
 2019   28.28  -6.18 -10.48   4.26  -3.30  2.14
 2020   23.67   3.26 -46.60  -5.10 -11.72  0.44
 2021   23.57  -0.96  25.33  26.77  11.68  0.04,
 'DESCR': 'F-F Research Data 5 Factors 2x3\n-------------------------------\n\nThis file was created by CMPT_ME_BEME_OP_INV_RETS using the 202201 CRSP database. The 1-month TBill return is from Ibbotson and Associates Inc.\n\n  0 : (265 rows x 6 cols)\n  1 : Annual Factors: January-December (22 rows x 6 cols)'}